body {
  margin: 0;
}

.rs-logo{
  max-height: 10vh;
  display: block;
  margin: auto;
}

.align-centre{
  text-align: center;
}

.App-header {
  min-height: 50%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
}

.menu-tab p{
  font-size: 20px;
}

.centred {
  text-align: center;
}

.nav.dark-bg{
  background-color: #495861;
  color: #f7f8f8;
}

.lg-button {
  background-color: white;
  border-radius: 10px;
  border-color: #495861;
  text-decoration: none;
  font-size: 16px;
  width: 100%;
  max-width: 450px;
  display: inline-block;
  height: 100%;
  cursor: pointer;
  padding: 50px 0;
  margin: 30px 15px;
  font-weight: 400;
}

.button-wrp.align-centre{
  text-align: center;
}

.viz-tabs {
  margin-top: 30px;
}

.title {
  margin-top: 30px;
}

.col.bar-wrp{
  padding: 0;
  height: 400px;
}

.bar-wrp {
  height: 400px;
}

.bar-wrp * {
  box-sizing: content-box !important;
}

.chart-wrp{
  height: 500px;
}

.col.filter {
  padding: 10px 10px 10px 10px;
}

.filterTitle {
  text-align: right;
}

.filter-wrp {
  padding: 0 20px;
}

.viz-wrp {
  padding: 30px 15px 10px 15px;
}

.pie-wrp {
  display: inline-block;
  width: auto;
  margin: 30px;
}

li span {
  font-size: 1.2rem;
}

tspan {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}