/*===========================================================================================*\

	Mini Bootstrap Framework for CV Website

	Amie Dooley

	Mobile First Design

	3 breakpoints:
		- 	Breakpoint 1 - d - min-width 992px - Desktop/Laptop/Tablet landscape
		- 	Breakpoint 2 - t - min-width 767px - Tablet Portrait
		-	Breakpoint 3 - m - min-width 0px - Mobile

\*============================================================================================*/

/*========================================================*\
	Normalize
\*========================================================*/
/*Make it so padding doesn't count to overall width*/
html * {
  box-sizing: border-box !important;
}

img {
  max-width: 100%;
  width: auto;
}

/*========================================================*\
	Section
\*========================================================*/
.section {
  margin-bottom: 60px;
}

.section.light-bg,
.section.dark-bg {
  padding: 60px 0;
}

.section.light-bg {
  background-color: #f9fafb;
}

.section.dark-bg {
  background-color: #797979;
}

/*========================================================*\
	Container
\*========================================================*/
.container {
  width: 100%;
  margin: auto;
  padding: 0 15px;
  max-width: 1170px;
}
.container.wide {
  max-width: 1440px;
}

.container.full-width {
  max-width: 100%;
}

/*========================================================*\
	Row
\*========================================================*/
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  position: relative;
  margin: 0 -15px;
}

.row:after {
  display: table;
  clear: both;
  content: '';
}

.row.v-centre {
  align-items: center;
}

.row.h-centre {
  justify-content: center;
}
/*========================================================*\
	Columns
\*========================================================*/

.col {
  position: relative;
  padding: 0 15px;
  min-height: 1px;
  vertical-align: top;
}

.col.v-center {
  align-self: center;
}

/*Mobile - Columns*/
/* Mobile sizing, doens't need media query as this is the dafult */
.col.m-full {
  width: 100%;
}

.col.m-half {
  width: 50%;
}

.col.m-third {
  width: 33.3%;
}

.col.m-two-thirds {
  width: 66.6%;
}

.col.m-quarter {
  width: 25%;
}

.col.m-quarter {
  width: 25%;
}

.col.m-three-quarters {
  width: 75%;
}

/*Tablet Portrait - Columns*/
/* Tablet Sizing - media query decalring these values should only be applied if window is over 767px wide */

@media (min-width: 767px) {
  .col.t-full {
    width: 100%;
  }

  .col.t-half {
    width: 50%;
  }

  .col.t-third {
    width: 33.3%;
  }

  .col.t-two-thirds {
    width: 66.6%;
  }

  .col.t-quarter {
    width: 25%;
  }

  .col.t-three-quarters {
    width: 75%;
  }
}

/*  Desktop - media query decalring these values should only be applied if window is over 992px wide */
@media (min-width: 992px) {
  .col.d-full {
    width: 100%;
  }

  .col.d-half {
    width: 50%;
  }

  .col.d-third {
    width: 33.3%;
  }

  .col.d-two-thirds {
    width: 66.6%;
  }

  .col.d-quarter {
    width: 25%;
  }

  .col.d-three-quarters {
    width: 75%;
  }

  .col.d-eighth {
    width: 12.5%;
  }

  .col.d-seven-eighths {
    width: 87.5%;
  }

  .col.d-one-sixth {
    width: 16.65%;
  }
}

/*========================================================*\
	Display
\*========================================================*/

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

/*========================================================*\
	Typography
\*========================================================*/
/*========================================================*\
		Font Size
	\*========================================================*/
/*========================================================*\
			Root
		\*========================================================*/
html {
  font-size: 12px;
}

/*========================================================*\
			Mobile
		\*========================================================*/
h1 {
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

p,
li {
  font-size: 1rem;
}

.small {
  font-size: 0.833rem;
}

a,
span,
i,
strong,
em {
  font-size: inherit;
}

/*========================================================*\
				Mobile - Special
			\*========================================================*/
.headline {
  font-size: 3rem;
}

/*========================================================*\
			Tablet Portrait
		\*========================================================*/
@media (min-width: 767px) {
  h1 {
    font-size: 3.052rem;
  }

  h2 {
    font-size: 2.441rem;
  }

  h3 {
    font-size: 1.953rem;
  }

  h4 {
    font-size: 1.563rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  p,
  li {
    font-size: 1rem;
  }

  .small {
    font-size: 0.8rem;
  }

  /*========================================================*\
					Tablet Portrait - Special
				\*========================================================*/
  .headline {
    font-size: 3.3rem;
  }
}

/*========================================================*\
			Desktop/Laptop/Tablet landscape
		\*========================================================*/
@media (min-width: 992px) {
  h1 {
    font-size: 4.209rem;
  }

  h2 {
    font-size: 3.157rem;
  }

  h3 {
    font-size: 2.369rem;
  }

  h4 {
    font-size: 1.777rem;
  }

  h5 {
    font-size: 1.333rem;
  }

  p,
  li {
    font-size: 1rem;
  }

  .small {
    font-size: 0.75rem;
  }

  /*========================================================*\
					Desktop/Laptop/Tablet landscape - Special
				\*========================================================*/
  .headline {
    font-size: 4.5rem;
  }
}

/*========================================================*\
		Font Color
	\*========================================================*/
h1,
h2 {
  color: #333333;
}

h3,
h4,
h5,
p,
li {
  color: #595959;
}

a,
strong,
span,
i {
  color: inherit;
}

/* Light Style - Use on dark backgrounds */
h1.light-text,
h2.light-text,
h3.light-text,
h4.light-text,
h5.light-text,
p.light-text,
li.light-text {
  color: #f9fafb !important;
}

.all-light-text * {
  color: #f9fafb !important;
}

/* underline styling */

/*========================================================*\
		Font Spacing
	\*========================================================*/
h1,
h2 {
  margin: 15px 0;
}

h3,
h4,
h4,
h5,
p {
  margin: 10px 0 10px 0;
}

li {
  margin: 10px 0 0 0;
}

/*========================================================*\
		Font Family
	\*========================================================*/
h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;}

h4,
h5,
p,
li,
a {
  font-family: 'Poppins', sans-serif !important;
}
/*========================================================*\
		Font Weight
	\*========================================================*/
h1 {
  font-weight: bold;
}

h2,
h3,
h4,
h5 {
  font-weight: normal;
}

/*========================================================*\
		Line Height
	\*========================================================*/
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.7;
}

p {
  line-height: 2.1;
}

@media (min-width: 992px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 1.2;
  }

  p {
    line-height: 1.5;
  }
}

/*========================================================*\
	General
\*========================================================*/
.divider {
  max-width: 350px;
  width: 100%;
  height: 3px;
  margin: 60px auto;
  background-color: #6C6C6C;
}

a {
  text-decoration: none;
}